/* Estilos de los Encabezados */
.encabezados {
	margin: 20px;

	color: blueviolet;
}

/*
.encabezados > h3 {
	color: black;
	font-size: 25px;
}
*/

.encabezados h3 ~ h3 {
	color: black;
	font-size: 25px;
}

p {
	color: red;
}

/* Selector de identificador */
#parrafo1 {
	font-size: 15px;
	font-weight: bold;
	color: green;
}

.logo {
	height: 50px;
}

nav {
	display: inline;
}
