html {
	font-family: "Montserrat", sans-serif;
}

/* HEADER */

header {
	display: flex;
	justify-content: space-between;

	height: 4rem;
	padding: 0 5rem;

	background-color: white;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 3rem;
}

nav {
	display: flex;
	align-items: center;
}

nav a {
	font-size: 0.9rem;
	font-weight: 600;

	display: flex;
	align-items: center;

	padding: 0 1rem;
	height: 100%;

	color: #474747;
}

#ultimos {
	font-weight: 700;

	color: black;
}

.opciones {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 7rem;
}

#search {
	width: 1.75rem;
}

#user {
	width: 2rem;
}

.user-menu {
	position: absolute;
	right: -0.5rem;
	bottom: -5.35rem;

	display: flex;
	flex-direction: column;

	background-color: lightblue;
}

.user-menu a {
	padding: 0.75rem 2rem;
}

/* MAIN */

/*** BANNER ***/

.section-banner {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	padding: 3rem 0;

	background-image: url("/img/BackgroundBanner.png");
}

.banner {
	height: 15rem;
}

h1 {
	font-size: 2rem;
	font-weight: 600;

	color: white;
}

.escritor {
	display: flex;
	align-items: center;
}

.avatar {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 2.5rem;
	height: 2.5rem;

	border-radius: 50%;
	background-color: white;
}

.avatar img {
	height: 1.25rem;
}

.description {
	font-size: 0.8rem;
	font-weight: 600;

	display: flex;
	flex-direction: column;

	padding-left: 1rem;

	text-align: center;

	color: white;
}

/*** ARTICLE ***/
.info {
	padding: 3rem 0;
}

.div-video {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#titulo-video {
	font-weight: 600;

	text-transform: uppercase;

	padding-bottom: 3rem;

	color: rgb(58, 58, 58);
}

.video-curso {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .video-curso video {
	height: 20rem;

	border-radius: 10px;
} */

.video-curso iframe {
	height: 20rem;

	border-radius: 10px;
}

.indice-video {
	display: flex;
	flex-direction: column;

	margin: 0 3rem;
	padding: 2.75rem 2.25rem;
	border-radius: 20px;
	background-color: #f2f3ff;
}

#titulo-atajos {
	font-size: 1.1rem;
	font-weight: 600;

	margin-bottom: 0.75rem;
}

ol {
	display: flex;
	flex-direction: column;
	align-items: left;
}

li {
	font-size: 0.9rem;
	font-weight: 600;

	padding: 0.2rem;
	padding-left: 1rem;
}
